<html>
  <head>
    <title>Master QR Code Table</title>
      <style>
        @page {
        size: 6in 4in;
        margin: 3mm 3mm 3mm 3mm;
        }
        * { margin: 0; padding: 0; box-sizing: border-box; }
         body { padding: 0; margin: 0; font: 13px Helvetica, Arial; }
         table { border-spacing: 2vw; table-layout: fixed; }
         td { font-size: 2vw; vertical-align: top; list-style-position: inside; }
        </style>
    </head>
    <body>
      <p>qr code</p>
    </body>
</html>
